.header{
    position: absolute;
    height: 110px;
    left: 0px;
    right: 0px;
    top: 0px;
    background:white;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 982px;
    height: 72px;
    left: 149px;
    top: 19px;

}
.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 700px;
    height: 45px;
    left: 912px;
    top: 3px;

}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 70px;
    height: 45px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 48px;

}
.logo{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.NavLink{
    position: static;
    width: 63px;
    height: 20px;
    left: 277px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #333333;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-left: 70px;
    padding-left: 50px;
}
.lg:hover{
    color: #68c930;
}
.p{
    display: flex;
    color: #333333;
    font-size: 18px;
}
.logo2{

    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
